*{
    margin: 0;
    padding: 0;
    
}

body{
    background-color: #2a9d8f;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:1.5vmin;
    align-items: center;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 1rem;
    box-shadow: 0,0,1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color: #0b090a;
    background-color: #ffffc7;
}

#reset{
    background-color: black;
    color: whitesmoke;
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 2rem;
    border: none;
    box-shadow: inset;
}

#new-btn{
   background-color: black;
    color: whitesmoke;
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 2rem;
    border: none;
    box-shadow: inset; 
}

#msg{
    color:#ffffc7;
   font-size: 5vmin;
   
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
   display: none;
}