
 /* ul{
    background-color: darkblue;
    display:flex;
    justify-content: space-between;
    padding: 15px 30px;
}



li{
    list-style-type: none;
}


a{
    text-decoration: none;
    color:black;
}

   color:white;
   font-family:sans-serif;
    font-size: 20px;
    display:flex;
    align-self:top;
} */


